<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header" class="bg-white shadow-sm dark:bg-gray-800 dark:border-b dark:border-gray-700">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">

            <div class="flex items-center space-x-8">
                <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Spendwise</h1>

                <nav class="md:flex items-center space-x-6" sec:authorize="isAuthenticated()">
                    <a href="/customer/painel"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Home</a>
                    <a href="/metrics"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Metrics</a>

                    <a href="/manager" sec:authorize="hasRole('ADMINISTRATOR')"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Manager</a>
                </nav>
            </div>

            <div class="space-x-4" sec:authorize="isAnonymous()">
                <nav class="flex items-center space-x-4">
                    <a href="/customer/login"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Login</a>
                    <a href="/customer/form"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Register</a>
                </nav>
            </div>

            <div class="flex items-center space-x-6" sec:authorize="isAuthenticated()">
                <div class="text-right">
                    <h3 class="font-medium text-gray-800 dark:text-white" sec:authentication="name"></h3>
                    <div class="text-sm text-gray-500 dark:text-gray-400" sec:authorize="hasRole('ADMINISTRATOR')">
                        Administrator</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400" sec:authorize="!hasRole('ADMINISTRATOR')">User
                    </div>
                </div>

                <div class="flex items-center space-x-4">
                    <a href="/customer/logout"
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white transition-colors">Logout</a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>